<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/allusers.css">
</head>
<body>

    
    <table id="tablerender">
<thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Enrollment Number</th>
              <th>Semester</th>
              <th>personal Phone Number</th>
              <th>parents Phone Number</th>
              <th>C.G.P.A.</th>
              <th>Profile pic</th>
            </tr>
          </thead>
    <tbody>
        <% if (allusers && allusers.length > 0) { %>
            <% allusers.forEach(function(user){%>
                <tr>
                   <td><%= user.name %></td>
                    <td><%= user.mail %></td>
                    <td><%= user.enroll %></td>
                     <td><%= user.semester %></td>
                     <td><%= user.prsnlphn %></td>
                     <td><%= user.parentsphn %></td>
                     <td><%= user.marks %></td>
                    <td ><img id="userprofilepic" src="/images/uploads/<%=user.profilepic %>" alt=""></td> 

                     <!-- <td><%=user.profilepic %></td> -->
                    </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="5">No students found.</td>
            </tr>
        <% } %>
    </tbody>
</table>
</body>
</html>